.product__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1450px;
  margin: 100px auto 100px auto;
  justify-items: center;
  gap: 50px;
}
.product__container section {
  margin: 0 auto;
}
.card__container {
  width: 250px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
}
.card__container:hover .button {
  display: block;
}
.card__container img {
  padding: 10px;
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  bottom: none;
  cursor: pointer;
  background-color: #febd69;
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  bottom: 0;
  border: none;
  left: 0;
}
.button:hover {
  background-color: #d49644;
  border: none;
}
.rating {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.product_flexed {
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 50px;
  width: 100%;
}
/* Comment Code */
.product_flexed h3 {
  padding: 20px 0px;
}
/* Comment Code */
.product_flexed .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}
/* Comment Code */
.product_flexed {
  height: 30vh;
}
/* Comment Code */
.product_flexed img {
  width: 300px !important;
  height: auto;
}
@media screen and (max-width: 768px) {
  .product_flexed {
    display: flex;
    flex-direction: column;
  }
}
